.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */

    transition: all 3s linear 1s;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(2);
     */

    /* transform: scale(0.5);
    transform: rotate(45deg); */

    /* transform: skew(-45deg); */

    /* transform: translate(0px, 500px); */
    
    /* Extra properties are:
1.matrix():a shorthand notation which contain(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()).
2.we can put x,y,x at the end of the translate(),scale(),skew() used for transitions in the specific direction. */
   
    transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);
   


}

p{
    font-size: 36px;
}f